Source: python-minimock
Priority: optional
Maintainer: Jesús Espino <jespinog@gmail.com>
Section: python
Homepage: http://pypi.python.org/pypi/MiniMock
Build-Depends:
    debhelper (>= 9.0),
    python-setuptools,
    python (>= 2.6.6-3~)
Standards-Version: 3.9.3

Package: python-minimock
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Breaks: ${python:Breaks}
Description: simple library for Python mock objects
 minimock is a simple Python library for using mock objects.
 .
 Its mock objects will report any access made to the mock object's
 interfaces. The programmer can easily make assertions about how mock
 objects are used in the test cases, by using the standard-library
 ‘doctest’ module to match the reported access against expected
 behaviour.
 .
 Mock objects can return specified values, raise exceptions, etc.
 to simulate the mocked behaviour. Existing objects can optionally
 be replaced in-place in their namespace by a mock object, and
 restored safely after testing.
